{% extends 'base.html' %}

{% block content %}

<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-col">
        <div class="lg:w-4/6 mx-auto">
            <div class="rounded-lg h-64 overflow-hidden">
                {% if blog.image %}
                <img alt="content" class="object-cover object-center h-full w-full"
                    src="/media/{{blog.image}}">
                {% else %}
                <img alt="content" class="object-cover object-center h-full w-full"
                    src="https://dummyimage.com/1200x500">
                {% endif %}
            </div>
            <div class="flex flex-col sm:flex-row mt-10">
                <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                    <div
                        class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-800 text-gray-600">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                    </div>
                    <div class="flex flex-col items-center text-center justify-center">
                        <h2 class="font-medium title-font mt-4 text-white text-lg">{{blog.author}}</h2>
                        <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
                        <p class="text-base text-gray-400">{{blog.title}}</p>
                        <div class="inline-flex p-2 pl-7">
                            
                            {% if request.user == blog.author %}
                            <a href="{% url 'blog:blog-update' blog.pk %}" class="text-indigo-400 inline-flex items-center mr-4">Edit
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-400" fill="none" viewBox="0 0 24 24"
                                stroke="rgb(129 140 248)">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                            </svg>
                        </a>
                        <a href="{% url 'blog:blog-delete' blog.pk %}" class="text-red-400 inline-flex items-center mr-4">Delete
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-red-400" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                    </a>
                    {% endif %}
                </div>
                <div class="inline-flex items-center justify-center p-2 pl-7">
                        <div class="flex items-center ml-5 mr-5">
                            {% if Liked %}
                            <form action="{% url 'blog:remove-like' blog.pk %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" value="{{blog.id}}" name="blog_id">
                                    <span
                                        class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                                            <path
                                                d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                        </svg>
                                        {{blog.likes.count}}
                                    </span>
                                </button>
                            </form>
                            {% else %}
                                <form action="{% url 'blog:like-blog' blog.pk %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" value="{{blog.id}}" name="blog_id">
                                        <span
                                            class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                                stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                                            </svg>{{blog.likes.count}}
                                        </span>
                                    </button>
                                </form>
                            {% endif %}
                            {% if DisLiked %}
                                <form action="{% url 'blog:remove-dislike' blog.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" value="{{blog.id}}" name="blog_id">
                                        <span
                                            class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                                                <path
                                                    d="M18 9.5a1.5 1.5 0 11-3 0v-6a1.5 1.5 0 013 0v6zM14 9.667v-5.43a2 2 0 00-1.105-1.79l-.05-.025A4 4 0 0011.055 2H5.64a2 2 0 00-1.962 1.608l-1.2 6A2 2 0 004.44 12H8v4a2 2 0 002 2 1 1 0 001-1v-.667a4 4 0 01.8-2.4l1.4-1.866a4 4 0 00.8-2.4z" />
                                            </svg>
                                            {{blog.dislikes.count}}
                                        </span>
                                    </button>
                                </form>
                                {% else %}
                                <form action="{% url 'blog:dislike-blog' blog.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" value="{{blog.id}}" name="blog_id">
                                        <span
                                            class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                                stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M10 14H5.236a2 2 0 01-1.789-2.894l3.5-7A2 2 0 018.736 3h4.018a2 2 0 01.485.06l3.76.94m-7 10v5a2 2 0 002 2h.096c.5 0 .905-.405.905-.904 0-.715.211-1.413.608-2.008L17 13V4m-7 10h2m5-10h2a2 2 0 012 2v6a2 2 0 01-2 2h-2.5" />
                                            </svg>{{blog.dislikes.count}}
                                        </span>
                                    </button>
                                </form>
                                {% endif %}
                            {% if Commented %}
                                <a href="{% url 'blog:add-comment' blog.pk %}">
                                <button type="submit" value="{{blog.id}}" name="blog_id">
                                    <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                                        <svg class="w-6 h-6 mr-1" stroke="currentColor" stroke-width="2" fill="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" viewBox="0 0 24 24">
                                        <path
                                        d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                    </path>
                                </svg>{{blog.comments.count}}
                            </span>
                        </button>
                    </a>
                                {% else %}
                                <a href="{% url 'blog:add-comment' blog.pk %}">
                                    <button type="submit" value="{{blog.id}}" name="blog_id">
                                        <span class="text-gray-500 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-800">
                                            <svg class="w-6 h-6 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                                            stroke-linejoin="round" viewBox="0 0 24 24">
                                            <path
                                            d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                        </path>
                                    </svg>{{blog.comments.count}}
                                </span>
                            </button>
                        </a>
                                {% endif %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                </svg>{{blog.views.count}}
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-800 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
                    <h2 class="tracking-widest text-xs title-font font-medium text-indigo-400 mb-1">{{blog.created_at}}</h2>
                    <p class="leading-relaxed text-lg mb-4">{{blog.content|safe}}</p>
                    
                </div>
            </div>
            <div>
                <section class="text-gray-400 bg-gray-900 body-font">
                    <div class="container px-5 py-24 mx-auto">
                        <p class="text-xl mb-2 mt-7 flex justify-center align-center mr-6 mb-10">Comment..</p>
                        <div class="flex flex-wrap -mx-4 -my-8">
                            {% for comment in comments%}
                            <div class="py-8 px-4 lg:w-1/3">
                                <div class="h-full flex items-start">
                                    <div class="flex-grow pl-6">
                                        <h2 class="tracking-widest text-xs title-font font-medium text-indigo-400 mb-1">{{comment.create_at}}</h2>
                                        {% if comment.user == request.user %}
                                        <span class="flex">
                                            <a href="{% url 'blog:update-comment' comment.pk %}" class="text-blue-300 hover:text-blue-400">edit</a>
                                            <a href="{% url 'blog:delete-comment' comment.pk %}" class="pl-3 text-blue-300 hover:text-blue-400">delete</a>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-400 mx-2 my-1" fill="none" viewBox="0 0 24 24"
                                            stroke="rgb(129 140 248)">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                        </svg>
                                    </span>
                                        {% endif %}
                                        <p class="leading-relaxed mb-5">{{comment.content}}</p>
                                        <a class="inline-flex items-center">
                                            <img alt="blog" src="https://dummyimage.com/103x103"
                                                class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
                                            <span class="flex-grow flex pl-3">
                                            <span class="title-font font-medium text-white">
                                                {% if comment.user == request.user %}
                                                You
                                                {% else %}
                                                {{comment.user}}
                                                {% endif %}
                                            </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

{% endblock %}