{% extends 'base.html' %}
{% block content %}
<div class="p-16">
    <div class="p-8 bg-white shadow mt-24 rounded-lg">
        <div class="grid grid-cols-1 md:grid-cols-3">
            <div class="grid grid-cols-3 text-center order-last md:order-first mt-20 md:mt-0">
                <div>
                    <p class="font-bold text-gray-700 text-xl">22</p>
                    <p class="text-gray-400">Friends</p>
                </div>
                <div>
                    <p class="font-bold text-gray-700 text-xl">{{total_post}}</p>
                    <p class="text-gray-400">Posts</p>
                </div>
                <div>
                    <p class="font-bold text-gray-700 text-xl">{{total_likes}}</p>
                    <p class="text-gray-400">Likes</p>
                </div>
            </div>
            <div class="relative">
                <div
                    class="w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500">
                    {% if request.user.image %}
                    <img src="/media/{{request.user.image}}" alt="" class="rounded-full w-48 h-48 object-cover">
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                            clip-rule="evenodd" />
                    </svg>{% endif %} </div>
            </div>
            <div class="space-x-8 flex justify-between mt-32 md:mt-0 md:justify-center"><button
                    class="text-white py-2 px-4 uppercase rounded bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                    Connect</button> 
                    <button
                        class="text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
                        <a href="{% url 'profileapp:update-bio' request.user.id %}">Update Bio</a>
                    </button>
                </div>
        </div>
        <div class="mt-20 text-center border-b pb-12">
            <h1 class="text-4xl font-medium text-gray-700">{{request.user.first_name}} {{request.user.last_name}}, <span
                    class="font-light text-gray-500">{{request.user.age}}</span></h1>
            <p class="font-light text-gray-600 mt-3">{{request.user.address}}</p>
            {% if request.user.workplace %}
                <p class="mt-8 font-medium text-sm text-gray-500">{{request.user.workplace}}</p>
            {% endif %}
        </div>
        <div class="mt-12 flex flex-col justify-center">
            <p class="text-gray-600 text-center font-light lg:px-16">{{ request.user.bio }}
            </p>
        </div>
        <button class="text-indigo-500 py-2 px-4  font-medium mt-4 flex">
            <a href="{% url 'logout' %}">
                Logout
            </a>    
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
            </svg>
        </button>
    </div>
</div>
{% endblock %}